/* Características semânticas globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Características semânticas do body */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

 /* Menu com posicionamento no topo a esquerda */
.menu {
    background-color: blue;
    color: white;
/*    padding-left: 20px;*/
    font-size: 20px;
    width: 100%;
    height: 60px;
}

/* Formatação da Área Central */
.area_central {
    flex: 1;
    overflow-y: auto;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    height: calc(100vh - 100px);
}

/* Formatação para o logotipo */
.logotipo {
    width: 50px;
    height: 50px;
    margin-right: 20px; /* Space between logo and title */
  }

 /* Flex container para o logotipo e o cabeçalho */
 .logo-cabec-container {
    display: flex;
    align-items: center; /* Align logo and title vertically */
    justify-content: center; /* Center the content horizontally */
}

/* Formatação para o rodape */
.rodape {
    text-align: center;
    background-color: blue;
    color: #fff;
    padding: 0;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
  }

/* Formatação para cabeçalhos tipo h1 */
h1 {
    font-size: 30px;
    font-weight: bold;
}

/* Formatação para paragrafos */
p {
    font-size: 20px;
    padding-top: 50px;
}

/* Formatação para o Menu de navegação - Bootstrap */
.navbar {
    background: blue;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color:white;
    font-weight:bold;
}

/* Formatação para o formulário de cadastro - Bootstrap */
.formulario {
    background: grey;
    padding: top 6rem;
    padding: bottom 15rem;
    min-height: 80vh;
    margin-bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
}

/* Formatação para as linhas do formulário de cadastro - Bootstrap */
.formtitulo {
    padding-top: 8rem;
    padding: bottom 4rem;

}

.formtitulo h2 {
    font-size: xx-large;
}

.formlabel {
    font-size: x-large;
    padding-left: 0;
}

.formcomplemento {
    text-align: right;
    font-size: x-large;
    padding-left: 0;
}

.completatela {
    width: 100%;
    height: 9vh;
    padding: 20px;
    background: grey;
    box-sizing: border-box;
}