
/* Formatação do container das receitas */
.tabela_receitas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
    overflow: auto;
    padding-top: 0;
    background-color: blue;
    margin-top: 0;
}

/* Formatação das colunas do container das receitas */
.receita {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 30%;
    margin-bottom: 0px;
    text-align: center;
    overflow: auto;
}

/* Formatação da área da imagem da receitas */
.receita img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Formatação dos paragrafos de ingredientes e modo de preparo */
.receita p {
    text-align:left;
    padding-bottom: 0;
    padding-left: 0;
    margin-top:0;
}

/* Formatação da lista não ordenada dos ingredientes */
.receita ul {
    text-align:justify;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom:0;
}

/* Formatação da lista ordenada do modo de preparo */
.receita ol {
    text-align:justify;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom:10px;
}

